:root {
    --app-red-theme: #f40101;
    --app-black-theme: #000000;
    --app-white-theme: #ffff;
    --app-overlay-theme: #40404099;
    --app-text-title: #404040;
    --app-text-section: #787878;
    --app-gray4-theme: #bdbdbd;
    --app-text-subtitle: #828282;
    --b6a: 219, 219, 219;
  }
  